{% extends "base.html" %}

{% block app_content %}
        <img src="{{ user.avatar(128) }}">
        <h1>{{ user.username }}</h1>

        {% if user == current_user %}
            <p><a href="{{ url_for('edit_profile', id=current_user.id) }}">Редактировать профиль</a></p>
        {% endif %}
        <hr>
        <h3>Обо мне</h3>
        {% if user.about_me %}
            <p>{{ user.about_me }}</p>
        {% endif %}
        <hr>
        {% if user.last_seen %}
            <p><b>Последний вход:</b> {{ user.last_seen }}</p>
        {% endif %}
{% endblock %}